* {
  margin: 0;
  padding: 0;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
}

nav {
  width: 5vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 10px rgb(175, 175, 175);
  z-index: 100;
}

ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

li {
  margin: 15px auto;
}

li a {
  text-decoration: none;
  font-size: 34px;
  color: #ff6f69;
}

.text-content{
  width: 30%;
}

.text-content h3 {
  font-size: 32px;
  margin-bottom: 2px;
  color: #797979;
}

.text-content h1 {
  letter-spacing: .2em;
  font-size: 54px;
  margin-bottom: 10px;
  color: #ff6f69;
}

.text-content p {
  line-height: 1.5em;
  color: #797979;
}

#hero {
  width: 90%;
  height: 100%;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-area {
  height: 100vh;
  width: 50%;
  background-color: #ff6f69;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_img {
  width: 85%;
  height: 85%;
}

#places {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-left: 9vw;
}

.title {
  color: #ff6f69;
  font-size: 40px;
  text-align: center;
}

.row1{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2 {
  height: 70vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#places .row1 .card-area {
  width: 30%;
  margin-right: 10%;
  
}

#places .row2 .card-area {
  width: 30%;
  margin-left: 10%;
}

.card-area span {
  color: #8a8989;
  font-size: 14px;
}

.card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 30%;
  color: #797979;
  line-height: 2em;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#food {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-left: 9vw;
}

#food .row1 .card-area {
  width: 30%;
  margin: 40px;
}

#food .row2 .card-area {
  width: 30%;
  margin: 40px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 5vw;
  background-color: #ff6f69;
  color: #fff;
  padding: 60px 0px;
}

#contact .title {
  color: #fff;
  margin-top: 50px;
  text-align: center;
}

.contact-main {
  display: flex;
  margin-top: 40px;
  width: 60%;
  justify-content: space-between;
}

.contact-main form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-main form input, form textarea{
  margin: 10px;
}

.contact-main form input {
  width: 80%;
  height: 5vh;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.contact-main form  textarea{
  width: 80%;
  height: 20vh;
  border-radius: 5px;
  border: none;
  padding: 20px 10px;
}

.contact_info {
  width: 50%;
  margin-left: 80px;
  margin-top: 20px;
}

.email_info, .call_info {
  display: flex;
  font-size: 24px;
  margin: 10px 0px;
}

.contact_info i {
  margin-right: 5px;
}

.address {
  margin-top: 40px;
}

footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  margin-left: 5vw;
}

footer p {
  font-size: 20px;
  color: #797979;
  margin-bottom: 5px;
}

footer i {
  color:#ff6f69;
}

footer h3 a {
  text-decoration: none;
  color: #ff6f69;
  font-size: 30px;
}

@media screen and (max-width: 1108px) {
  .text-content h1 {
    letter-spacing: .2em;
    font-size: 42px;
  }

  #food .row1 {
    height: 50vh;
  }

  #food .row2 {
    height: 50vh;
  }
}

@media screen and (max-width: 960px) {
  li a {
    font-size: 28px;
  } 

  .text-content h1 {
    letter-spacing: .05em;
    font-size: 42px;
  }
}

@media screen and (max-width: 800px) {
  .text-content h1 {
    letter-spacing: .02em;
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    
    flex-direction: column;
  
  }  

  .text-content {
    width: 70%;
    margin: 3rem;
  }

  .image-area {
    width: 80%;
  }

  .contact-main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contact-main form {
    width: 80%;
  }

  .contact_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    padding: 0;
  }

  nav {
    width: 10vw;
  }

  #contact {
    margin-left: 10vw;
  }

  .email_info, .call_info {
    font-size: 20px;
  }
  
}